section[role=region] > header:first-child {
  background-color: #0095dd;
  color: #ffffff;
}

.collapse {
  display: none;
  opacity: 0;
}

.pack-checkbox-box .pack-checkbox ~ span,
.pack-radio-box .pack-radio ~ span,
.pack-switch-box .pack-switch ~ span {
  vertical-align: middle;
  cursor: default;
}

section[role="region"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
  overflow: hidden;

  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  visibility: hidden;
}
section.current[role="region"] {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  visibility: visible;
}
section.previous[role="region"] {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  visibility: hidden;
}
.sidebar-opened section.current[role="region"] {
  transform: translateX(80%);
  -webkit-transform: translateX(80%);
}
*[data-type="sidebar"] {
  visibility: hidden;
  transition: visibility var(--transition-time) linear 0s;
}
.sidebar-opened *[data-type="sidebar"] {
  visibility: inherit;
}
*[data-position="back"] {
  z-index: -1;
}
.fade-in[data-position="back"] {
  z-index: 120;
  animation: var(--transition-time) ease 0s normal forwards;
}

section[data-type="sidebar"] *[role="button"].action-icon {
  font-size: 0px;
}


#signin-form {
  padding: 1rem 1.5rem;
}

#bookmarks ul li[data-bookmark-type="folder"] {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#bookmarks ul li[data-bookmark-type="separator"] {
  height: 5px;
}

#passwords-action-menu input[type="text"] {
  border-style: none ! important;
  box-shadow: none;
  background-color: transparent;
}

